#checkout{

    form{ 
        background-color: $lightblue;
        border-radius: 7%;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
        padding-bottom: 70px;
        text-align: center;

        h2{
            padding-top: 24px;
        }

        input {
                
            border: none;
            width:auto;
            margin-bottom: 8px;
            border-radius: 30px;
            padding-left: 30px;
            font-family: "Poppins", serif;
            font-weight: 300;
           
        }


    }

















}