#hero-space{

    padding-left: 16px;
    position: relative;

   #colors{

    width: 160px;
    display: flex;
    flex-direction: column;
    
   
    .color1{
        padding-bottom: 16px;
        padding-right: 16px;
    }
  }

  #toast{
    display: 100%;

    position:absolute;
    left: 250px;
    top: 50px;


  }
   
}