#hero{
    

    .heroText{
        background-color: $gray;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;

        h1{
            margin:43px;
        }

        h3{
            margin-left: 43px;
            margin-right: 43px;
            margin-top: 8px;
        }

        img{
            display:inline;
            width:100%;
            
        }

    }

   
}