#relatedProduct{

    h2{
        padding-left: 16px;
    }

    li{
        img{
            width:55%;
        }
    }

    .view{

        display: flex;
        margin-left: 16px;

        img{
            margin-left: 8px;
            margin-top: -8px;
        }
    
        a{
            text-decoration: none;
           } 
    }

    @include lg{
        li{
            img{
                width: 80%;
            }
        }
    }
}