/* =============
    Navigation
============= */

header {
    display: flex;
    background-color: $lightblue;
    align-items: center;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;



    #logo-container {

        img {
            padding-right: 150px;
        }
    }


    #burger-btn {

        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;

        div {
            height: 5px;
            width: 40px;
            background-color: black;
        }

        span {
            display: block;
            position: relative;

            &::before {
                position: absolute;
                content: " ";
                top: -16px;
            }

            &::after {
                position: absolute;
                content: " ";
                top: 16px;
            }
        }
    }

    display: flex;
    align-items: center;
    justify-content: space-between;


    #burger-container {
        display: block;
        position: relative;
        z-index: 3;

        @include lg {
            display: none;
        }
    }

    #main-menu {

        @media only screen and (max-width: 1024px) {
            background-color: white;
            transition: .3s;
            height: 100vw;
            width: 80%;
            position: absolute;
            top: 0;
            left: -100%;

            &.show-menu {
                left: 0;
                transition: .3s;
            }
        }


        ul {
            display: flex;
            padding-right: 400px;
            justify-content: space-between;

        }

        .searchbar{
            display: none;
        }


        @include lg {
                display:flex;
                display:inline-flex;
                margin-left: auto;
           

           .searchbar{ 

            display: inline;
            position: relative;
            

            input {
                
                border: none;
                height: 30px;
                width:230px;
                border-radius: 30px;
                padding-left: 30px;
                font-family: "Poppins", serif;
                font-weight: 300;
               
            }
    
    
            img {
                width: 20px;
                position:absolute;
                left:5px;
                top: 5px;
                
            }
            
        }
        }




      



    }


}